Source: p2pp
Maintainer: Tom Van den Eede <P2PP@pandora.be>
Build-Depends: python3-setuptools, python3-all, debhelper-compat (= 13)

Package: p2pp
Architecture: all
Depends: python3-qt5 (>= 5.15.0), python3-qtwebengine5 (>= 5.15.0)
Description: P2PP - Palette 2 Post Processing tool for Prusa Slicer